doctype html
html(lang='en')
 head
   title Hello, World!

   link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
   link(rel="stylesheet" type="text/css" href="/css/contact.css")
   script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
   script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
   script(src="https://kit.fontawesome.com/936a38ae8b.js" crossorigin="anonymous")
 body

  .container-fluid
    nav.navbar.navbar-expand-md.navbar-light.bg-light
      .container
        a.navbar-brand(href='home') Naseem Miah
        button.navbar-toggler(
          type="button"
          data-toggle="collapse"
          data-target="#navbar1"
        )
          i.fas.fa-bars
        .collapse.navbar-collapse#navbar1
          ul.nav.navbar-nav.nav-fill.w-75
            li.nav-item
              a.nav-link(href="home") Home  
            li.nav-item
              a.nav-link(href='portfolio') Portfolio
            li.nav-item
              a.nav-link.active(href='contact') Contact
            li.nav-item
              a.nav-link(href='about') About Me
  
  .container.pt-4.mw-100
    .row
      .container.col-xl-4.pt-4
        .jumbotron.p-3.mb-5.bg-white.rounded
          h4.display-3.pb-5 Have some feedback?

          button.btn.btn-primary.btn-lg.d-flex.justify-content-center(data-toggle="modal" data-target="#emailModal" data-whatever="@meh") Email
          
          .modal.fade#emailModal(tabindex="-1" aria-labelledby="feedbackEmail" aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-header
                  h5.modal-title#feedbackEmail Email
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-body
                  form
                    .form-group
                      label.col-form-label(for="senderEmail") Your Email:
                      input.form-control(type="text" id="senderEmail")
                    .form-group
                      label.col-form-label(for="messageText") Message: 
                      textarea.form-control#messageText
                .modal-footer
                  button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                  button.btn.btn-primary(type="button") Send Message
          hr
          
          a.btn.btn-primary.btn-lg(href="#0") LinkedIn

      .container.col-xl-4.pt-4
        .jumbotron.p-3.mb-5.bg-white.rounded
          h4.display-3.pb-5 Looking for Freelance services?
          a.btn.btn-success.btn-lg.d-flex.justify-content-center(href="https://www.upwork.com/" target="_blank") Upwork          
          hr
          a.btn.btn-success.btn-lg.d-flex.justify-content-center(href="https://www.fiverr.com/" target="_blank") Fiverr
          hr
          a.btn.btn-success.btn-lg.d-flex.justify-content-center(href="https://twitter.com/LuckyBreeze_" target="_blank") Freelancer

      //Twitter API
      .container.col-xl-4.pt-4
        a.twitter-timeline(href="https://twitter.com/LuckyBreeze_"  data-tweet-limit="1") Most recent Tweet
  
script.
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
    t._e.push(f);
  };

  return t;
  }(document, "script", "twitter-wjs"))
    