doctype html
html(lang='en')
 head
   title Hello, World!

   link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
   link(rel="stylesheet" type="text/css" href="/css/index.css")
   script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
   script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
   script(src="https://kit.fontawesome.com/936a38ae8b.js" crossorigin="anonymous")
 body#bodyId
  .container-fluid#mouseTarget
    nav.navbar.navbar-expand-md.navbar-light.bg-light
      .container
        a.navbar-brand(href='home') Naseem Miah
        button.navbar-toggler(
          type="button"
          data-toggle="collapse"
          data-target="#navbar1"
        )
          i.fas.fa-bars
        .collapse.navbar-collapse#navbar1
          ul.nav.navbar-nav.nav-fill.w-75
            li.nav-item
              a.nav-link.active(href="home") Home  
            li.nav-item
              a.nav-link(href='portfolio') Portfolio
            li.nav-item
              a.nav-link(href='contact') Contact
            li.nav-item
              a.nav-link(href='about') About Me

  .container.pt-4
    div.d-none#fadeOnLoad
      h1 Welcome To My
      h1 Home Page
    
    div.d-none#fadeInAfterLoad
      h1 Please Enjoy

script.
  $(document).ready(function () {
    $('#fadeOnLoad').fadeIn(2000).removeClass('d-none')
  })
      
