doctype html
html(lang='en')
 head
   title Hello, World!

   link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
   link(rel="stylesheet" type="text/css" href="/css/portfolio.css")
   script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
   script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
   script(src="https://kit.fontawesome.com/936a38ae8b.js" crossorigin="anonymous")
 body

  .container-fluid
    nav.navbar.navbar-expand-md.navbar-light.bg-light
      .container
        a.navbar-brand(href='home') Naseem Miah
        button.navbar-toggler(
          type="button"
          data-toggle="collapse"
          data-target="#navbar1"
        )
          i.fas.fa-bars
        .collapse.navbar-collapse#navbar1
          ul.nav.navbar-nav.nav-fill.w-75
            li.nav-item
              a.nav-link(href="home") Home  
            li.nav-item
              a.nav-link.active(href='portfolio') Portfolio
            li.nav-item
              a.nav-link(href='contact') Contact
            li.nav-item
              a.nav-link(href='about') About Me
  
  .container.pt-4.mw-100
    .row
      .col-md-8
        .row
          .col-md-6
            .card.p-3.text-white.bg-dark.mb-3(style="width = 5rem;")
              img.card-img-top(
                src = "/images/GEDCOMoutput.png"
                alt = "One of my websites"
              )
              .card-body
                h5.card-title GEDCOM File Analysis
                p.card-text Working as an Agile Development team, we made a GEDCOM file reader that catches errors and anomalies in the file.
                a.btn.btn-primary.d-flex.justify-content-center(href="https://github.com/miahnaseem/SSW555_DRAIN" target="_blank") Repo
          
            .card.p-3.text-white.bg-dark.mb-3(style="width = 5rem;")
              img.card-img-top(
                src = "/images/CHUGG.png"
                alt = "One of my websites"
              )
              .card-body
                h5.card-title CHUGGED
                p.card-text For my Web Dev I final project, we created a bartending website that facilitated user submissions and accounts.
                a.btn.btn-primary.d-flex.justify-content-center(href="https://github.com/tmitche2/cs546" target="_blank") Repo
        
          .col-md-6    
            .card.p-3.text-white.bg-dark.mb-3(style="width = 5rem;")
              img.card-img-top(
                src = "/images/cce-search.png"
                alt = "One of my websites"
              )
              .card-body
                h5.card-title CCE-Search-Prototype
                p.card-text My Senior Capstone, a website to search for uncopyrighted literature. I developed the database and briefly hosted the site for our client on AWS.
                a.btn.btn-primary.d-flex.justify-content-center(href="https://github.com/tmitche2/cce-search-prototype" target="_blank") Repo

            .card.p-3.text-white.bg-dark.mb-3(style="width = 5rem;")
              img.card-img-top(
                src = "/images/homepage.png"
                alt = "One of my websites"
              )
              .card-body
                h5.card-title This Website!
                p.card-text A personal side project to keep me up to date with modern web dev infrastructure.
                a.btn.btn-primary.d-flex.justify-content-center(href="https://github.com/miahnaseem/naseemmiah.io" target="_blank") Repo
      
      .col-md-4
        .jumbotron
          h4.display-4.pb-3 Request my résumé
          p Please fill out this short form so I can feel confident about sending my résumé out to you
            form
              .form-group
                label.col-form-label(for="requestEmail") Your Email:
                input.form-control(type="text" id="requestEmail")
              .form-group
                label.col-form-label(for="messageText") Briefly, what are you looking for: 
                textarea.form-control#messageText
              button.btn.btn-primary(type="button") Submit