body {
    background-image: url("/images/peter-olexa-Ejgx4k3iryg-unsplash.jpg");
    background-position: 0px -400px;
}

h2 {
	color:white;
}

#card {
    margin-left: auto;
}

.active {
	font-weight: bold;
}

.container .jumbotron {
    border-radius: 10px;
    background-color: white;
}

.carousel-caption {
    right: 5%;
    text-align: right;
}
