body {
    background-image: url("/images/peter-olexa-Ejgx4k3iryg-unsplash.jpg");
    background-position: 2000px 0px;
}

h1 {
	color:white;
}

textarea {
    display: block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    width: fit-content;
    resize: vertical;
    overflow: auto;
}

label {
    font-size: large;
}
.active {
	font-weight: bold;
}

.jumbotron {
    border-radius: 5px !important;
}