body {
	background-image: url("/images/peter-olexa-Ejgx4k3iryg-unsplash.jpg");
}

h1 {
	color: white;
	text-align: center;
}

h2 {
	color: white;
	text-align: center;
	font-size: 500%;
	text-shadow: 2px 2px turquoise;
}

@media screen and (min-width: 771px) {
	h1 {
		font-size: 1000%;
	}
}
@media screen and (max-width: 770px) {
	h1 {
		font-size: 700%;
	}
}

.active {
	font-weight: bold;
}