<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/936a38ae8b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container"><a class="navbar-brand" href="home">Naseem Miah</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"><i class="fas fa-bars"></i></button>
          <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav nav-fill w-75">
              <li class="nav-item"><a class="nav-link" href="home">Home  </a></li>
              <li class="nav-item"><a class="nav-link" href="portfolio">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link active" href="contact">Contact</a></li>
              <li class="nav-item"><a class="nav-link" href="about">About Me</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container pt-4 mw-100">
      <div class="row">
        <div class="container col-xl-4 pt-4">
          <div class="jumbotron p-3 mb-5 bg-white rounded">
            <h4 class="display-3 pb-5">Have some feedback?</h4>
            <button class="btn btn-primary btn-lg d-flex justify-content-center" data-toggle="modal" data-target="#emailModal" data-whatever="@meh">Email</button>
            <div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="feedbackEmail" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="feedbackEmail">Email</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label class="col-form-label" for="senderEmail">Your Email:</label>
                        <input class="form-control" type="text" id="senderEmail">
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="messageText">Message: </label>
                        <textarea class="form-control" id="messageText"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button">Send Message</button>
                  </div>
                </div>
              </div>
            </div>
            <hr><a class="btn btn-primary btn-lg" href="#0">LinkedIn</a>
          </div>
        </div>
        <div class="container col-xl-4 pt-4">
          <div class="jumbotron p-3 mb-5 bg-white rounded">
            <h4 class="display-3 pb-5">Looking for Freelance services?</h4><a class="btn btn-success btn-lg d-flex justify-content-center" href="https://www.upwork.com/" target="_blank">Upwork          </a>
            <hr><a class="btn btn-success btn-lg d-flex justify-content-center" href="https://www.fiverr.com/" target="_blank">Fiverr</a>
            <hr><a class="btn btn-success btn-lg d-flex justify-content-center" href="https://twitter.com/LuckyBreeze_" target="_blank">Freelancer</a>
          </div>
        </div>
        <!--Twitter API-->
        <div class="container col-xl-4 pt-4"><a class="twitter-timeline" href="https://twitter.com/LuckyBreeze_" data-tweet-limit="1">Most recent Tweet</a></div>
      </div>
    </div>
  </body>
</html>
<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  
    t._e = [];
    t.ready = function(f) {
    t._e.push(f);
  };
  
  return t;
  }(document, "script", "twitter-wjs"))
    
</script>