<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/936a38ae8b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container"><a class="navbar-brand" href="home">Naseem Miah</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"><i class="fas fa-bars"></i></button>
          <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav nav-fill w-75">
              <li class="nav-item"><a class="nav-link" href="home">Home  </a></li>
              <li class="nav-item"><a class="nav-link" href="portfolio">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link active" href="contact">Contact</a></li>
              <li class="nav-item"><a class="nav-link" href="about">About Me</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="jumbotron mt-5 shadow-lg p-3 mb-5 bg-white rounded">
        <h4 class="display-2">Get in touch!</h4><a class="btn btn-primary btn-lg d-flex justify-content-center" href="#0">Email</a>
        <hr><a class="btn btn-primary btn-lg d-flex justify-content-center" href="https://github.com/miahnaseem" target="_blank">Github</a>
        <hr><a class="btn btn-primary btn-lg d-flex justify-content-center" href="https://twitter.com/LuckyBreeze_" target="_blank">Twitter</a>
      </div>
    </div>
  </body>
</html>