<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Nav Practice-->
    <nav id="navbar-default">
      <div class="container-fluid pt-5">
        <div class="navbar-header"><a class="navbar-brand" href="/">Naseem Miah</a></div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home  </a></li>
          <li><a href="/page-1">Page 1</a></li>
          <li><a href="/page-2">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#0">Log in</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h2>Home</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
        
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
        
      </p>
      <div class="input-group input-group-lg">
        <div class="input-group-prepend"><span class="input-group-text" id="input-js-practice">Enter your name please</span></div>
        <input class="form-control" id="searchTxt" type="text/js" aria-label="JS example input" aria-describedby="input-js-practice">
      </div>
      <div id="postInput"></div>
      <script>
        const node = document.getElementById("searchTxt")
        node.addEventListener("keyup", ({key}) => {
          if (key === 'Enter') {
            console.log("fired")
            const myNewP = document.createElement("p")
            const name = document.getElementById("searchTxt").value
            console.log(name)
            myNewP.innerText = "Hello " + name
            const postInput = document.getElementById("postInput")
            postInput.appendChild(myNewP)
          }
        })
      </script>
    </div>
  </body>
</html>