<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/936a38ae8b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container"><a class="navbar-brand" href="home">Naseem Miah</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"><i class="fas fa-bars"></i></button>
          <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav nav-fill w-75">
              <li class="nav-item"><a class="nav-link" href="home">Home  </a></li>
              <li class="nav-item"><a class="nav-link active" href="portfolio">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
              <li class="nav-item"><a class="nav-link" href="about">About Me</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="row pt-4 pl-3 pr-3">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="card p-3 text-white bg-dark mb-3" style="width = 5rem;"><img class="card-img-top" src="/images/GEDCOMoutput.png" alt="One of my websites">
              <div class="card-body">
                <h5 class="card-title">GEDCOM File Analysis</h5>
                <p class="card-text">Working under an Agile Dev team, we made a GEDCOM file reader that catches errors and anomalies in the file.</p><a class="btn btn-primary d-flex justify-content-center" href="https://github.com/miahnaseem/SSW555_DRAIN" target="_blank">Repo</a>
              </div>
            </div>
            <div class="card p-3 text-white bg-dark mb-3" style="width = 5rem;"><img class="card-img-top" src="/images/CHUGG.png" alt="One of my websites">
              <div class="card-body">
                <h5 class="card-title">CHUGGED</h5>
                <p class="card-text">For my Web Dev I final project, we created a bartending website that facilitated user submissions and accounts.</p><a class="btn btn-primary d-flex justify-content-center" href="https://github.com/tmitche2/cs546" target="_blank">Repo</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">   
            <div class="card p-3 text-white bg-dark mb-3" style="width = 5rem;"><img class="card-img-top" src="/images/cce-search.png" alt="One of my websites">
              <div class="card-body">
                <h5 class="card-title">CCE-Search-Prototype</h5>
                <p class="card-text">My Senior Capstone, a website to search for uncopyrighted literature. I developed the database and briefly hosted it for our client over on AWS.</p><a class="btn btn-primary d-flex justify-content-center" href="https://github.com/tmitche2/cce-search-prototype" target="_blank">Repo</a>
              </div>
            </div>
            <div class="card p-3 text-white bg-dark mb-3" style="width = 5rem;"><img class="card-img-top" src="/images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg" alt="One of my websites">
              <div class="card-body">
                <h5 class="card-title">GEDCOM File Analysis</h5>
                <p class="card-text">Working as an Agile Dev team, made a GEDCOM file reader that catches errors and anomalies in the file.</p><a class="btn btn-primary d-flex justify-content-center" href="https://github.com/miahnaseem/SSW555_DRAIN" target="_blank">Repo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="jumbotron"></div>
      </div>
    </div>
    <script>
      const Github = require("gh.js")
      
      var gh = new Github()
      
      gh.get("users/miahnaseem/events", (err,res) => {
        if (err) {
          return console.error(err)
        }
      
        var pushEvents = res.filter(c => {
          return c.type === "PushEvent"
        });
      
        // Show the date and the repo name
        console.log(pushEvents.map(c => {
          return "Pushed at " + c.created_at + " in " + c.repo.name;
        }).join("\n"))
      })
    </script>
  </body>
</html>